body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #aaa6a5;
  color: white;
}

.links {
        display: flex;
        gap: 0.5rem;
        margin: 1rem;
    }

button {
  background-color: #91645E;
  color: white;
  width: 5rem;
  height: 2rem;
}
